*,
*::after,
 *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    height: 100vh;
    width: 100%;
    /* background-color: azure; */
}
/* NAV */

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .navbar .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  
  .bg-dark {
    background-color: #76b5c5 !important;
  }
  
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
  
  .container,
  .container-fluid {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      max-width: 1320px;
    }
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #0a58ca;
  }
  
  .link-secondary {
    color: #fff;
  }
  .link-secondary:hover, .link-secondary:focus {
    color: #565e64;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .justify-content-end {
    justify-content: flex-end !important;
  }
  
  .p-0 {
    padding: 0 !important;
  }
  
  .text-white {
    --bs-text-opacity: 1;
     color: rgba(255,255,255,1) !important;
  }
  
  .pb-5 {
    padding-bottom: 3rem !important;
  }
  
  .pt-3 {
    padding-top: 1rem !important;
  }

.bg-image{
  display:flex;
  width: 100%;
  height: 100%;
  background: url(../Images/login_background.jpg) no-repeat center center/cover;
  align-items: center;
  opacity: 0.7;
}

.sl-cont{
  display: flex;
  align-items: center;
  height: 80%;
}

.container3{
  background-color: white;
  margin: 1.2rem;
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #6b6969;
  z-index: 1;
  cursor: pointer; 
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container3 img {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
a.adminBoard{
  text-decoration: none;
  color: black;
}
.container2{
    display: flex;
    background-color: white;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.2rem;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #6b6969;
    z-index: 1;
    border: 2px solid #565e64;
    text-align: center;
}
.center-register{
  position: relative;
  top: 50%;
  transform: translateY(15%);
}

.login{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  align-items: center;
  font-size: 14px;
}
img.user-image{
  width: 50%;
}

@media(min-width: 300px){
  .container2 , .container2.login{
    width: 80%;
  }
}

@media(min-width: 500px){
  .container2 , .container2.login{
    width: 60%;
  }
}
@media(max-width: 500px){
  .sl-cont{
    flex-direction: column;
  }
  .container3 {
    width: 90%;
    flex: 1 0 auto;
  }

  footer.align-bottom{
    transform: translateY(30%);
    position: relative;
    width: 100%;
  }
}

@media(min-width: 600px){
  .container2 , .container2.login{
    width: 40%;
  }
}

@media (min-width: 1250px){
  .container2, .container2.login{
      width: 30%;
  }
}


.container2 h2.title{
    margin-bottom: 1rem;
}

.container2 p.element{
    width: 90%;
    padding: 10px;
}
.container2 p.element input{
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 1.2rem;
    outline: none;
    padding: 5px; 
}

.container2 p.element input:focus{
    outline: none;
    border-bottom: 2px solid #76b5c5;
}

.container2 button{
    background-color: #76b5c5;
    padding: 10px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    width: 90%;
    margin-bottom: 1rem;
    cursor: pointer;
}

.container2 button:hover{
    color: #76b5c5;
    background-color: white;
    border: 1px solid #76b5c5;
    ;
}

.container2 a.already-registered{
    color:  #565e64;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
}

/* Footer
*/

footer.align-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
  
  .text-muted {
    color: rgba(255, 255, 255, 1)!important;
  }
  
  .m-0 {
    margin: 0 !important;
  }
  
.text-center {
    text-align: center !important;
  }

  .fs-4 {
    font-size: calc(1.275rem + 0.3vw) !important;
  }

  .my-2 {
    margin-bottom: 0.5rem !important;
  }